<nav id="sidebar">
  <div class="sidebar-content">
    <div class="content-header justify-content-lg-center">
      <div>
        <span class="smini-visible fw-bold tracking-wide fs-lg">
          c<span class="text-primary">b</span>
        </span>
        <a class="link-fx fw-bold tracking-wide mx-auto" href="">
          <span class="smini-hidden">
            <i class="fa fa-fire text-primary"></i>
            <span class="fs-4 text-dual">Club'</span><span class="fs-4 text-primary">Na</span>
          </span>
        </a>
      </div>
      <div>
        <button type="button" class="btn btn-sm btn-alt-danger d-lg-none" data-toggle="layout"
          data-action="sidebar_close">
          <i class="fa fa-fw fa-times"></i>
        </button>
      </div>
    </div>
    <div class="js-sidebar-scroll">
      <div class="content-side content-side-full bg-body-light">
        <button type="button" class="btn w-100 btn-alt-primary" data-toggle="click-ripple">
          <i class="fa fa-user-plus opacity-50 me-1"></i> New Account
        </button>
      </div>
      <div class="content-side content-side-full">
        <ul class="nav-main">
          <li class="nav-main-item">
            <a class="nav-main-link active" routerLink="/dashboard">
              <i class="nav-main-link-icon fa fa-home"></i>
              <span class="nav-main-link-name">Home</span>
              <span class="nav-main-link-badge badge rounded-pill bg-primary">3</span>
            </a>
          </li>
          <li class="nav-main-heading">Projects</li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Users">
              <i class="nav-main-link-icon fa fa-user"></i>
              <span class="nav-main-link-name">Users</span>
            </a>
          </li>
        <!--
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Coachs">
              <i class="nav-main-link-icon fa fa-user"></i>
              <span class="nav-main-link-name">Coachs</span>
            </a>
          </li>-->
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Activities">
              <i class="nav-main-link-icon fa fa-bars"></i>
              <span class="nav-main-link-name">Activities</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Planning">
              <i class="nav-main-link-icon fa fa-calendar"></i>
              <span class="nav-main-link-name">Planning</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Salles">
              <i class="nav-main-link-icon fa fa-building"></i>
              <span class="nav-main-link-name">Salles</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="Abonnements">
              <i class="nav-main-link-icon fa fa-id-card-o"></i>
              <span class="nav-main-link-name">Abonnements</span>
            </a>
          </li>
          <li class="nav-main-heading">Settings</li>
          <li class="nav-main-item">
            <a class="nav-main-link" href="">
              <i class="nav-main-link-icon fa fa-fire"></i>
              <span class="nav-main-link-name">Security</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" href="">
              <i class="nav-main-link-icon fa fa-pencil-alt"></i>
              <span class="nav-main-link-name">Profile</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" href="">
              <i class="nav-main-link-icon fa fa-flag"></i>
              <span class="nav-main-link-name">Notifications</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" href="">
              <i class="nav-main-link-icon fa fa-lock"></i>
              <span class="nav-main-link-name">Password Update</span>
            </a>
          </li>
      
        </ul>
      </div>
    </div>
  </div>
</nav>